@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progress-waiting {
  0% {
    left: 0;
    width: 0;
  }

  50% {
    left: 0;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes progress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes back-and-forth {
  0% {
    width: 31%;
  }

  10% {
    width: 71%;
  }

  20% {
    width: 02%;
  }

  30% {
    width: 54%;
  }

  40% {
    width: 43%;
  }

  50% {
    width: 11%;
  }

  60% {
    width: 50%;
  }

  70% {
    width: 72%;
  }

  80% {
    width: 64%;
  }

  90% {
    width: 79%;
  }

  50% {
    width: 31%;
  }
}

.animate-progress {
  animation: progress-waiting;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  border-radius: 9999px;
}
